
    
.x02{
  padding-left: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-left: solid 15px blueviolet;
  border-bottom: solid 3px blueviolet;
}
.x03{
  padding-left: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-left: solid 15px blueviolet;
  border-bottom: solid 3px blueviolet;
}
.x04{
  padding-left: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-left: solid 15px blueviolet;
  border-bottom: solid 3px blueviolet;
}
.x05{
  padding-left: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-left: solid 15px blueviolet;
  border-bottom: solid 3px blueviolet;
}
.x06{
  padding-left: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-left: solid 15px blueviolet;
  border-bottom: solid 3px blueviolet;
}
.x07{
  padding-left: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-left: solid 15px blueviolet;
  border-bottom: solid 3px blueviolet;
}
.x08{
  padding-left: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-left: solid 15px blueviolet;
  border-bottom: solid 3px blueviolet;
}
.x09{
  padding-left: 10px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-left: solid 15px blueviolet;
  border-bottom: solid 3px blueviolet;
}
.x010{
  border-bottom: 5px solid;
  border-image-source: repeating-linear-gradient(to left, white 0%, blue 100%);
  border-image-slice: 10;
}
.x011{
  border-left: solid 15px blueviolet;
}
.x012{
  border-left: solid 15px blueviolet;
}
.x013{
  border-left: solid 15px blueviolet;
}
.x014{
  border-left: solid 15px blueviolet;
}
.x015{
  border-left: solid 15px blueviolet;
}