
body {
    background: url("../images/20170319012228.jpg") repeat;
    background-size: cover;
    margin: 0
  }
  header {
    height:50px;
    margin-top: 0;
  }
  #container {
    width: 100vw;
    margin: 0px auto;
    padding: 8px;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    }
    #size{
      font-size: 20px;
    }
    #size2{
      font-size: 13px;
    }
    .disc li{
      display: inline-block;
  }